# PlatformIO
.pio/
.pioenv/

# VSCode
.vscode/

# macOS
.DS_Store

# Credentials
include/Credentials.h
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
*.bak
